<!DOCTYPE html>
<html lang="en" style="background-color:cadetblue;">
<head>
    <title>Blog</title>
    <h1>Blog</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: "Comic Sans MS", "Comic Sans", cursive; color: #333; }
    </style>
    <nav style="background-color:whitesmoke; padding: 0px; width: fit-content;">
        <h4 style="padding: 5px;">Menu de navegacion:</h4>
        <ul style="padding-left: 20px; padding-bottom: 5px;">
            <li><a href="{{url_for('i')}}">Inicio</a></li>
            <li><a href="{{url_for('sm')}}">Sobre mí</a></li>
            <li><a href="{{url_for('p')}}">Portafolio</a></li>
            <li><a href="{{url_for('b')}}">Blog</a></li>
            <li><a href="{{url_for('c')}}">Contacto</a></li>
        </ul>
    </nav>
</head>
<body style="background-color: antiquewhite; padding: 8px;">
    <h3 style="color: chocolate;">¿Porqué cree esta página?</h3>
    <h4>Primera Razon</h4>
    <p>El fin del haber creado esta pagina es de lo mas obvio, <b><i>es un trabajo de clase</b></i></p><h6 style="color: antiquewhite;">duh :p</h6>
    <h5>Segunda Razon</h5>
    <div>El otro motivo es mas real, es mi primera vez llevando esta materia y tambien mi primera vez tratando con <span style="color: orange;">html</span>
    por lo que este trabajo me sirve mucho para aprender y poner a prueba todas las posibilidades que brinda la programacion web.</div>
</body>
</html>