<!DOCTYPE html>
<html lang="en" style="background-color:cadetblue;">
<head>
    <title>Contacto</title>
    <h1>Contacto</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { font-family: "Comic Sans MS", "Comic Sans", cursive; color: #333; }
    </style>
    <nav style="background-color:whitesmoke; padding: 0px; width: fit-content;">
        <h4 style="padding: 5px;">Menu de navegacion:</h4>
        <ul style="padding-left: 20px; padding-bottom: 5px;">
            <li><a href="{{url_for('i')}}">Inicio</a></li>
            <li><a href="{{url_for('sm')}}">Sobre mí</a></li>
            <li><a href="{{url_for('p')}}">Portafolio</a></li>
            <li><a href="{{url_for('b')}}">Blog</a></li>
            <li><a href="{{url_for('c')}}">Contacto</a></li>
        </ul>
    </nav>    
</head>
<body style="background-color: antiquewhite; padding: 8px;">
    <h3 style="color: chocolate;">Maneras de contactarme</h3>
</body>
<footer style="background-color: rgb(105, 225, 179); padding: 0px;">
    <p>Numero de telefono: 686 181 7653</p>
    <a target="_blank" href="https://www.facebook.com/agua.mojada.94">Facebook</a> | <a target="_blank" href="https://api.whatsapp.com/send?phone=5216861827421">Whatsapp</a>
</footer>
</html>